---
import { SITE_DESCRIPTION } from "../config";
---

<section>
  <div class="mb-6 py-8">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_30%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        Harry Baines
      </span>
    </h1>
    <p class="text-lg text-center text-gray-500 dark:text-gray-300 mt-4">
      {SITE_DESCRIPTION}
    </p>
  </div>
</section>
